#navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 0rem;
    height: 64px;
}

.individual-game {
    background-color: rgb(4, 1, 1);
    border-radius: 30px;
    padding: 17px;
    box-shadow: 0 10px 10px 10px rgb(255, 253, 253);
    margin-bottom: 5px;
    width: 450px;
    height: 140px;
    font-size: .9rem; 
    font-family: Impact;
}

#main-screen {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(rgba(32, 163, 189, 0.86), rgb(79, 13, 185));
    gap: 75px;
}

#leaderboard{
    display: flex;
    border-style: solid;
    border-radius: 40px;
    border-width: 3px;
    flex: 1;
    text-align: center;
    flex-direction: column;
}

#leaderboard-title{
    font-size: 2.5rem;
    font-weight: bold;
    border-bottom: 3px solid white;
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
    font-family: Impact
}

#game-list {
    display: flex;
    flex-direction: column;
    align-items: center; 
    flex: 1.35;
}

#game-title {
    font-size: 2.5rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
    font-family: Impact
}

/* Figure out why this is not working properly
#overall-title {
    font-size: 2.5rem;
    font-weight: bold; 
    font-family: Impact;
    text-align: center;
    margin: 2rem 0 1.5rem 0;
    background-color: white;
} */